# Transpiled files
/built/

# VSCode
/.vscode/

# Config files
**/[Cc]onfig/*

# Temp files
**/temp

# Coverage ???
/coverage/

# Log files
/logs/

# Node module files
/node_modules/

# Environment
.env