# Transpiled files
/built/

# VSCode
/.vscode/

# Config files
**/[Cc]onfig/*
**[Cc]onfig.js

# Temp files
**src/temp/
!**src/temp/.gitkeep

# Coverage ???
/coverage/

# Log files
/logs/

# Node module files
/node_modules/

# Environment
.env